.body {
	line-height: 1.75;
	position: relative;

	&--unscrollable {
		overflow-y: hidden;
	}

	&__mask {
		position: fixed;
		top: 0;
		right: 0;
		background-color: rgba(0, 0, 0, 0.5);
		width: 100%;
		height: 100vh;
		transform: translateX(-100%);
		transition: transform 0.3s ease-out;

		&--active {
			transform: translateX(100%);
		}
	}
}
