.hero {
	@include flexBox(center, center, row, nowrap, 0rem);
	@include shiftDownFromNavbar();
	overflow: hidden;
	height: $height-hero-height;

	&--favorite {
		.hero__background {
			background-image: url("../images/hero/favorite-background.jpg");
			left: 0;
		}
	}

	&--recipe {
		.hero__background {
			background-image: url("../images/hero/recipe-background.jpg");
		}
	}

	&__content {
		width: 100%;
		background-color: $color-hero-text-bg-mobile;
		padding: 3rem $page-padding;
	}

	&__text {
		@include flexBox(center, stretch, column, nowrap, 2rem);
		text-align: center;
	}

	&__title {
		font-weight: normal;
		line-height: 1.5;
		font-size: clamp(2rem, 5vw, 4rem);
	}

	&__description {
		width: calc(min(100%, 600px));
		margin: 0 auto;
	}

	&__tags {
		font-size: 1rem;
	}

	&__search {
		@include flexBox(flex-start, stretch, column, nowrap, 0);
		width: 70%;
		max-width: 500px;
		margin: 0 auto;
	}

	&__input {
		@include border($color-primary);
		height: 50px;
		padding: 0.75rem 1.25rem;
	}

	&__submit {
		@include darkBgLightText();
		cursor: pointer;
		height: 50px;
		padding: 0.5rem 2.25rem;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin-bottom: 0.75rem;
		transition: background-color 0.3s;
		border: none;

		&:hover {
			background-color: $color-cta;
		}
	}

	&__filter-btn {
		cursor: pointer;
		font-size: 0.75rem;

		&:hover {
			text-decoration: underline;
		}
	}

	&__background {
		width: 100%;
		position: absolute;
		z-index: -2;
		right: 0;
		height: $height-hero-background;
		background-size: cover;
		background-position: bottom;
		background-image: url("../images/hero/hero-background.jpg");
	}

	&__extra {
		font-size: 1.4rem;
		text-transform: uppercase;
	}

	&__tags {
		font-style: italic;
	}

	&__cook-time {
		@include darkBgLightText();
		@include absoluteBottomRight();
		background-color: $color-secondary;
		padding: 2rem $page-padding;
		font-size: 1.25rem;
	}

	&__mask {
		@include backgroundOrMask($color-mask, -2);
		width: 0;
		transition: width 0.3s ease-out;

		&--active {
			width: 100%;
		}
	}
}

@media (min-width: $bp-mobile-lg) {
	.hero {
		&__search {
			flex-direction: row;
			flex-wrap: wrap;
		}

		&__input {
			flex: 4;
		}

		&__submit {
			flex: 1;
		}

		&__filter-btn {
			width: 100%;
		}
	}
}

@media (min-width: 1300px) {
	.hero {
		padding: 0 $page-padding;
		justify-content: flex-start;

		&--favorite {
			justify-content: flex-end;

			.hero__text {
				padding-left: $page-padding;
			}
		}

		&__content {
			padding: 0;
			width: 50%;
		}

		&__cook-time {
			background-color: $color-primary;
			padding: 3rem;
			writing-mode: vertical-lr;
			right: 50%;
		}

		&__background {
			width: 50%;
			background-position: 0% 80%;
		}

		&__text {
			width: 90%;
			padding: 0;
			text-align: left;
		}

		&__search {
			max-width: none;
			margin: 0;
		}

		&__description {
			width: 90%;
			margin: 0;
		}
	}
}
