.search {
	@include flexBox(flex-start, stretch, column, nowrap, 0);
	@include shiftDownFromNavbar();

	&__column {
		@include flexBox(center, center, row, nowrap, 0);
		height: $height-column;
		padding: 3rem $page-padding;
		flex: 1;

		&--primary {
			background-color: $color-primary;
		}

		&--secondary {
			background-color: $color-secondary;
		}

		&--third {
			background-color: $color-third;
		}
	}

	&__text {
		color: $color-white;
		text-align: center;
	}

	&__pre-text {
		opacity: 0.8;
		margin-bottom: 0.5rem;
	}

	&__title {
		font-size: clamp(1.1rem, 2.5vw, 1.75rem);
	}

	&__description {
		transform: translateY(30px);
		opacity: 0;
	}
}

@media (min-width: $bp-desktop) {
	.search {
		flex-direction: row;

		&__column {
			justify-content: flex-start;
			padding-right: 2rem;
		}

		&__text {
			text-align: left;
		}
	}
}
