.section-container {
	@include shiftDownFromNavbar();
	margin: 4rem auto;
	padding: 0 $page-padding;

	&__title {
		text-align: center;
		font-size: 1.75rem;
		margin-bottom: 4rem;
	}
}

@media (min-width: $bp-desktop) {
	.section-container {
		&__title {
			text-align: left;
		}
	}
}
