@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");

//color palette
$color-primary: #210e0d;
$color-secondary: #753516;
$color-third: #af6f33;
$color-cta: #d82315;
$color-hero-text-bg-mobile: rgba(255, 255, 255, 0.95);
$color-white: #ffffff;
$color-black: #000000;
$color-mask: rgba(0, 0, 0, 0.5);

//Breakpoints
$bp-mobile-lg: 600px;
$bp-tablet: 700px;
$bp-desktop: 1200px;
$bp-desktop-larger: 1300px;

//width & heights
$width-mobile-links: 50%;
$height-navbar: 50px;
$height-mobile-links: calc(100vh - 750px);
$height-hero-height: calc(max(80vh, 850px));
$height-hero-background: calc(max(80vh, 1000px));
$height-column: clamp(275px, 50vh, 375px);
$height-recipe-image: 200px;
$height-filter-options: calc(100% - 100px);

//Spacing
$page-padding: clamp(1rem, 7.5vw, 9rem);
$filter-right-padding: calc(clamp(calc(1rem), 5vw, calc(6rem)) - 16px);
$recipe-card-spacing: 0.75rem;

//sizes
$size-nav-control: 30px;
$size-heart-container: 40px;

//font-family
$ff-general: "Source Sans Pro", sans-serif;

//font-sizes
